.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  position: relative; /* Make sure this container is positioned relative */
}

.ControlPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.views {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Make sure this container is positioned relative */
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.view-container {
  margin: 10px;
}
